<% provide(:title, "Help and Support") %>
<h1>Help and Support</h1>
<p>Students who made this project:</p>
<p>Aldric Choi - s3761165@student.rmit.edu.au</p>
<p>Pham Nguyen Ngoc Kinh - s3773604@student.rmit.edu.au</p>
