<% if @customer.errors.any?%>
<div id="error_messages">
    <div class="alert alert-danger">
        The form contains <%= pluralize(@customer.errors.count, "error") %>.
    </div>
    <ul>
    <% @customer.errors.full_messages.each do |message| %>
        <li><%= message%></li>
    <% end %>
    </ul>
</div>
<% end %>
