<%= form_with(model: savedlist, local: true) do |form| %>
  <% if savedlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(savedlist.errors.count, "error") %> prohibited this savedlist from being saved:</h2>

      <ul>
      <% savedlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
